<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TCPConnector" value="{ 'Host':'localhost', 'Port':8001 }" />
    <add key="SavePassword" value="true" />
    <add key="StartupForm" value="dbo.V_DealValue" />
    <add key="ReportingSettings" value="{'FontSize':8, 'ColumnTitleOnPage':true, 'Period':true, 'Grid':0, 'MultiLine':true, 'Sign':false}" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
