<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TCPConnector" value="{ 'Host':'localhost', 'Port':8001 }"/>
    <add key="SavePassword" value="true"/>
    <add key="StartupForm" value="SqliteDb.SysCat.SysSchema"/>
    <add key="ReportingSettings" value="{'FontSize':8, 'ColumnTitleOnPage':true, 'Period':true, 'Grid':0, 'MultiLine':true, 'Sign':false}"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
